:root {
    /* Renk değişkenleri */
    --primary-color: #1e3a8a;   
    --secondary-color: #9333ea; 
    --background-color: #f3f4f6; 
    --text-color: #111827; 
  
    /* Font değişkenleri */
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
  }
  